/*
National Early Warning Score 2 (NEWS2) chart © Royal College of Physicians 2017
Chart Render Rhidian Bramley 2018
*/

h1 {
    font: bold 20px arial;
}

div.buttons {
    /*float:right;*/
    display: none;
}

    div.buttons > a {
        font: bold 13px arial;
        display: inline-block;
        background: #0066cc;
        color: white;
        text-align: center;
        padding: 7px;
        width: 140px;
        text-decoration: none;
        cursor: pointer;
    }

#newschartcontainer {
}


    #newschartcontainer > table.newstable {
        width: 100%;
        /*height:1200px;*/
        table-layout: fixed;
        max-width: 1024px;
        min-width: 600px;
        border-collapse: collapse;
        /*visibility: hidden;*/
    }


/*default table cell borders*/
table.newstable > tbody > tr > td {
    border: 1px solid #333;
    padding: 0px;
}

/*table borders*/
table.newstable > tbody > tr:nth-child(1) > td {
    border-top: 2px solid #333;
}


table.newstable > tbody > tr:nth-child(75) > td {
    border-bottom: 2px solid #333;
}

/*spacer rows*/
table.newstable > tbody > tr.nspacerow > td {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    height: 10px;
}

table.newstable > tbody > tr.nspacerow:last-child > td {
    border-top: 2px solid #333 !important;
    border-bottom: 2px solid #fff;
}


/*column formatting*/
table.newstable > tbody > tr > td.ntitle {
    width: 80px;
    background: #0066cc;
    color: white;
    font: bold 12px arial;
    vertical-align: top;
    padding: 5px;
}

    table.newstable > tbody > tr > td.ntitle > div.titleunits {
        font: bold 8px arial;
        white-space: nowrap;
    }


    table.newstable > tbody > tr > td.ntitle > div.titleinfo {
        font: bold 8px arial;
        color: #ddd;
        padding: 2px;
    }

    table.newstable > tbody > tr > td.ntitle > div.abcde {
        font: bold 30px arial;
        color: #798FC8;
    }

table.newstable > tbody > tr.nrow.nchart0.ndate > td.ntitle {
    background: #ffffff;
    color: #000;
}

    table.newstable > tbody > tr.nrow.nchart0.ndate > td.ntitle > div {
        width: 13px;
        padding: 1px;
        display: inline-block;
        text-align: center;
        color: #000;
        margin-right: 3px;
        margin-top: 2px;
        border: 1px solid #000;
    }




table.newstable > tbody > tr > td.nrange {
    width: 60px;
    font: bold 10px arial;
    text-align: right;
    white-space: nowrap;
    padding-right: 2px;
    border-right: 2px solid #333;
}

table.newstable > tbody > tr > td.nval {
    width: 30px;
    font: bold 10px arial;
    text-align: center;
    width: 4%;
    height: 15px;
}

    table.newstable > tbody > tr > td.nval.colhover {
        background: #eee;
    }



/*date/time row specific formatting*/
table.newstable > tbody > tr.ndate > td.nval {
    font: bold 10px arial;
}

table.newstable > tbody > tr.ntime > td.nval {
    font: normal 10px arial;
}


/*----------
Colour scheme
----------*/

/*orginal RAG scheme (key and score bands)*/

table.newstable > tbody > tr.nrow.nchart0.ndate > td.ntitle > div.score0 {
    background: #ffffff;
}

table.newstable > tbody > tr.nrow.nchart0.ndate > td.ntitle > div.score1 {
    background: #ffffcc;
}

table.newstable > tbody > tr.nrow.nchart0.ndate > td.ntitle > div.score2 {
    background: #ffeeaa;
}

table.newstable > tbody > tr.nrow.nchart0.ndate > td.ntitle > div.score3 {
    background: #ffcccc;
}

table.newstable > tbody > tr.nscore1 > td.nval {
    background: #ffffcc;
}

table.newstable > tbody > tr.nscore2 > td.nval {
    background: #ffeeaa;
}

table.newstable > tbody > tr.nscore3 > td.nval {
    background: #ffcccc;
}

/*colors NEWS2 - comment out to revert to original*/



table.newstable > tbody > tr.nrow.nchart0.ndate > td.ntitle > div.score0 {
    background: #ffffff;
}

table.newstable > tbody > tr.nrow.nchart0.ndate > td.ntitle > div.score1 {
    background: #FFF2AC;
}

table.newstable > tbody > tr.nrow.nchart0.ndate > td.ntitle > div.score2 {
    background: #FCC98A;
}

table.newstable > tbody > tr.nrow.nchart0.ndate > td.ntitle > div.score3 {
    background: #F69781;
}


table.newstable > tbody > tr.nscore1 > td.nval {
    background: #FFF2AC;
}

table.newstable > tbody > tr.nscore2 > td.nval {
    background: #FCC98A;
}

table.newstable > tbody > tr.nscore3 > td.nval {
    background: #F69781;
}


#tablegrid > tbody > tr > td.yellowrowlight {
    background: #FFF2AC !important;
}

#tablegrid > tbody > tr > td.orangerowlight {
    background: #FCC98A !important;
}

#tablegrid > tbody > tr > td.redrowlight {
    background: #F69781 !important;
}


#recent-obs-table > tbody > tr.yellowrowlight > td {
    background: #FFF2AC !important;
}

#recent-obs-table > tbody > tr.orangerowlight > td {
    background: #FCC98A !important;
}

#recent-obs-table > tbody > tr.redrowlight > td {
    background: #F69781 !important;
}



/*plotted values formatting*/
table.newstable > tbody > tr > td.nval.plotted {
    border-top: 2px solid #0066cc;
    border-left: 2px solid #0066cc;
    border-right: 2px solid #0066cc;
    border-bottom: 2px solid #0066cc;
}
/*plotted BP value range formatting*/
table.newstable > tbody > tr > td.nval.systolic {
    border-bottom: 1px solid #333;
}

table.newstable > tbody > tr > td.nval.diastolicrange {
    border-left: 2px solid #0066cc;
    border-right: 2px solid #0066cc;
    border-bottom: 1px solid #333;
}

table.newstable > tbody > tr > td.nval.diastolic {
    border-left: 2px solid #0066cc;
    border-right: 2px solid #0066cc;
    border-bottom: 2px solid #0066cc;
}

table.newstable > tbody > tr > td.bpband {
    border-left: 3px solid #0066cc;
}


/*hide plotted border styling and text when d3 chart apllied*/
table.newstable > tbody > tr > td.hideborder {
    border: 1px solid #333 !important;
    border-top: 1px solid #333 !important;
    border-bottom: 1px solid #333 !important;
    border-left: 1px solid #333 !important;
    border-right: 1px solid #333;
    font-size: 0;
}

table.newstable > tbody > tr > td.diastolic.hideborder {
    font-size: 10px;
}

/*chart specific formatting*/


#newschartcontainer > table > tbody > tr.nrow.nchart3 > td.ntitle {
    background: #B1BBDE;
    color: #000;
}

#newschartcontainer > table > tbody > tr.nrow.nchart10 > td.nrange {
    background: #B1BBDE;
    color: #000;
}

#newschartcontainer > table > tbody > tr.nrow.nchart3 > td.ntitle > div {
    color: #000;
}

    #newschartcontainer > table > tbody > tr.nrow.nchart3 > td.ntitle > div.titlered {
        margin-top: 5px;
        font: bold 8px arial;
        color: red;
        background: white;
        padding: 2px;
        color: #ff0000;
        border: 1px solid #000;
    }

/*hide O2 delivery scale 2 chart by default*/
table.newstable > tbody > tr.nchart3 > td {
    /* display: none*/
}
/*add split section on O2 delivery scale 2 (with/without O2)*/
table.newstable > tbody > tr.nchartsplit > td.nrange {
    border-bottom: 1px solid #333;
}

table.newstable > tbody > tr.nchartsplit > td.nval {
    border-bottom: 1px solid #333;
}

/*chart 9 (NEWS total)*/
table.newstable > tbody > tr.nchart9 > td {
    font: bold 12px arial;
}

    table.newstable > tbody > tr.nchart9 > td.nval {
        font: bold 14px arial;
        /*background: #ddd;*/
    }

    table.newstable > tbody > tr.nchart9 > td.plotted {
        border: 1px solid #0066cc;
    }
/*chart 10 (bottom section repeat hrs etc)*/
table.newstable > tbody > tr.nchart10 > td.plotted {
    border: 1px solid #333;
}

table.newstable > tbody > tr.nchart10 > td {
    padding: 4px;
}

table.newstable > tbody > tr.nchart10 > td {
    padding: 4px;
}


/*D3 svg styling*/
#newschartcontainer {
    position: relative;
}

    #newschartcontainer > svg {
        pointer-events: none;
    }

svg .line {
    fill: none;
    /*stroke: #0066cc;*/
    stroke-width: 3px;
}

svg .linedash {
    fill: none;
    /*stroke: #0066cc;*/
    stroke-width: 3px;
}
/*#svg1 .line {
    stroke: #FF0000;
}*/

.text-id, #text-id {
    font: normal 10px arial;
}

/*jquery-ui tooltip styling*/
.tooltip {
    
}
